.board {
  height: 820px;
  width: 820px;
  border: 10px solid rgb(255, 127, 80)
}
.tile {  
  height: 100px;
  width: 100px;
}

.row {
  height: 100px;
}

.tile.b {
  background-color: gray;
  color: white;
} 

.tile.w {
  background-color: white;
}

.tile.piece:hover {
  cursor: pointer;
}

.highlight{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 127, 80, 0.5);
  cursor: pointer;
}