.board {
  border: 10px solid rgb(255, 127, 80);
}

.tile.b {
  background-color: gray;
  color: white;
}

.tile.w {
  background-color: white;
}

.tile {
  position: relative
}

.tile.piece:hover {
  cursor: pointer;
}

.highlight {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 127, 80, 0.5);
  cursor: pointer;
}

.sider {
  background-color: lightblue;
}

.header {
  border-bottom: 3px gray solid;
}

.row-number {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
}

.col-number {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 100
}

.pieces{
  height: 80px;
}

.log {
  background-color: lightgrey;
}